
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background: url(./img/notes.jpg);
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.piano{
    display: flex;
    position: relative;
    height: 520px;
    padding: 110px 30px 0 30px;
    background-color: #292322;
}

.info{
  position:absolute;
  top: 0;
  color: aliceblue;
}

.key{
    height: calc(var(--width) * 4);
    width: var(--width);
    border-radius: 0 0 6px 6px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.35) 0px -30px 60px -12px inset, rgba(0, 0, 0, 0.4) 0px -18px 36px -18px inset;
    box-shadow: rgba(50, 50, 93, 0.35) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.4df) 0px 18px 36px -18px inset;
}

.white{
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white.active{
    background: #ccc;
}

.black{
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width)/ -2);
    color: #ccc;
    z-index: 2;
}

.black.active{
    background: #333;
}

.text{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: .3em;
    font-weight: 700;
}

/* @media */



@media(max-width:1460px){

    .piano{
        height:450px;
        padding: 80px 13px 0 13px;
    }
    .white{
        --width: 90px;
    }
    .black{
        --width: 50px;
    }
    .text{
        font-weight: 600;
        font-size: 1em;
    }
    .info{
        font-size: 1.2em;
    }
}
@media(max-width:1200px){

    .piano{
        height:390px;
        padding: 70px 11px 0 11px;
    }
    .white{
        --width: 78px;
    }
    .black{
        --width: 44px;
    }
    .text{
        font-weight: 500;
        font-size: 0.8em;
    }
    .info{
        font-size: 1em;
    }
}

@media(max-width:960px){

    .piano{
        height: 256px;
        padding: 56px 10px 0 10px;
    }
    .white{
        --width: 48px;
    }
    .black{
        --width: 30px;
    }
    .text{
        font-weight: 400;
        font-size: 0.6em;
    }
    .info{
        font-size: .8em;
    }
}

@media(max-width:600px){

    .piano{
        height: 200px;
        padding: 52px 8px 0 8px;
    }
    .white{
        --width: 36px;
    }
    .black{
        --width: 22px;
    }
    .text{
        font-weight: 400;
        font-size: 0.5em;
    }
    .info{
        font-size: .5em;
    }
}